* {
  box-sizing: content-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: rgb(33, 37, 41);
  font-size: 30px;
}
main {
  display: flex;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: rgb(94, 129, 209);
  justify-content: space-between;
  height: 100px;
  margin: 0;
  align-items: center;
  padding: 20px;
}
.title-shoplist {
  display: flex;
  font-size: 30px;
  font-weight: bold;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}
.navigation__item {
  display: inline;
  padding: 6px;
}
.main-content__top-list {
  background-color: rgb(248, 117, 0);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px;
  align-items: center;
  height: 50px;
}
